# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Игнорировать директории и файлы, созданные Gradle
.gradle/
build/

# Игнорировать локальные настройки для IDE
.idea/
*.iml
*.ipr
*.iws

# Игнорировать файлы и директории, созданные системами сборки
bin/
out/

# Игнорировать логи и временные файлы
*.log.*
*.swp
*.bak
*.tmp
